<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Perfil</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="painel-formulario">
    <div class="voltar">
      <a href="/<%= usuario.id %>">&larr;</a>
    </div>
    <h1>Editar Perfil</h1>

    <form action="/<%= usuario.id %>/perfil/editar" method="POST">
      <div class="grupo-formulario">
        <label for="nome">Seu Nome</label>
        <input type="text" id="nome" name="nome" class="campo-formulario" value="<%= usuario.nome %>" required>
      </div>
      <button type="submit" class="btn btn-primary btn-largo">Salvar Alterações</button>
    </form>
    <hr style="margin: 30px 0;">
    <div class="zona_perigo">
        <h3>Excluir Perfil</h3>
        <p>A exclusão da sua conta é permanente e removerá todas as suas anotações. </p>
        <a href="/<%= usuario.id %>/perfil/excluir" class="btn btn-excluir">Excluir minha conta</a>
    </div>
  </div>
</body>
</html>